.Hero {
  position: relative;
  color: var(--theme-on-surface);
  background-color: var(--theme-background);
  height: 110vh;
  // background-image: url('/images/topography.svg');
  > .container {
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0;
    // align-self: center;
    justify-content: center;
    height: 100%;
    margin-top: -20px;

    &__title {
      font-size: 2rem;
      margin: 0 0 5rem;
      font-weight: 800;
      &--underline {
        text-decoration: underline;
        text-decoration-color: var(--theme-secondary);
      }
      &--accent {
        color: var(--theme-primary);
        font-weight: 900;
      }
    }
    &__button {
      @include button();
      border-color: var(--theme-primary);
      color: var(--theme-primary);
      font-weight: 800;
      font-size: 1.25rem;
      border-width: 2px;
      width: 66%;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      @include breakpoint('tablet') {
        // width: 33%;
        width: 200px;
      }
    }
  }
}
