.Hero {
  position: relative;
  color: var(--theme-on-surface);
  background-color: var(--theme-background);
  height: 110vh;
  // background-image: url('/images/topography.svg');
  > .container {
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0;
    // align-self: center;
    justify-content: center;
    height: 100%;
    margin-top: -20px;

    &__title {
      font-size: 2rem;
      @include breakpoint('sm-desktop') {
        font-size: 3.5rem;
      }
      margin: 0 0 5rem;
      font-weight: 800;
      &--underline {
        position: relative;
        display: inline-block;
        // text-decoration: underline;
        // text-decoration-color: var(--theme-secondary);
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 4px;
          background-color: var(--theme-secondary);
          z-index: -1;
          width: 0px;
          border-radius: 4px;
          animation-duration: 1.5s;
          animation-timing-function: ease-in-out;
          animation-delay: 1s;
          animation-iteration-count: initial;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-name: underlineLtr;
        }
      }
      &--accent {
        color: var(--theme-primary);
        font-weight: 900;
      }
    }
    &__button {
      position: relative;
      @include button();
      border-color: var(--theme-primary);
      color: var(--theme-primary);
      font-weight: 800;
      font-size: 1.25rem;
      border-width: 2px;
      width: 66%;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      background: rgba(255, 255, 255, 0.05);
      overflow: hidden;
      transition: color 1s;
      @include breakpoint('tablet') {
        // width: 33%;
        width: 200px;
      }
      &:hover {
        color: var(--theme-on-primary);
        // background-color: var(--theme-primary);
        transition: all 1s;
        &:before {
          left: -10px;
          transform: rotate(180deg);
          // animation-direction: alternate;
          transition: all 1.5s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -200%;
        left: -110%;
        right: 0;
        bottom: 0;
        height: 210px;
        width: 210px;
        border-radius: 35%;
        background-color: var(--theme-primary);
        transform: rotate(0deg);
        z-index: -1;
        transition: all 1.5s;
      }
    }
  }
}

@keyframes underlineLtr {
  to {
    width: 100%;
  }
}
