.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin-bottom: -49px;
  transition: background-color 200ms ease-in-out;
  @include breakpoint('sm-desktop') {
    margin-bottom: -51px;
  }
  &--scroll {
    // margin-bottom: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.4);
    transition: all 200ms ease-in-out;
  }

  &__brand {
    &__logo {
    }
  }

  &__toggler {
    border-style: none;
    background-color: transparent;
    border: 1px solid var(--theme-gray-200);
    border-radius: 4px;
    @include breakpoint('sm-desktop') {
      display: none;
    }
    &__icon {
      color: var(--theme-on-surface);
      font-size: 1.25rem;
    }
  }

  &__navbar {
    max-height: 0;
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
    flex-basis: 100%;
    @include breakpoint('sm-desktop') {
      display: block;
      height: auto;
      overflow: visible;
      flex-basis: 0;
      max-height: none;
    }
    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include breakpoint('sm-desktop') {
        flex-direction: row;
        column-gap: 0.5rem;
      }

      &__item {
        &__link {
          display: inline-block;
          color: var(--theme-on-surface);
          text-decoration: none;
          padding: 0.5rem;
          border-bottom: 1px solid transparent;
          transition: border-bottom 100ms ease-in-out;
          &:hover,
          &:focus {
            border-bottom: 1px solid var(--theme-primary);
            transition: all 200ms ease-in-out;
          }
          &--active {
            border-bottom: 2px solid var(--theme-primary) !important;
            font-weight: 600;
          }
        }
      }
    }
    &--expanded {
      max-height: 200px;
      flex-basis: 100%;
      transition: max-height 300ms ease-in-out;
      .Nav__navbar__list {
        flex-direction: column;
      }
    }
  }
}
